<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>View Post</title>

    <style></style>
  </head>
  <body>
    <%- include ('navbar.ejs') %>
    <br />
    <br />
    <div class="container">
      <div class="col-lg-12">
        <% let flag =0; if(post.length) { for (let i = 0; i < post.length; i++)
        {%>
        <form method="POST" action="/like">
          <div
            style="border:1px solid #164122; border-radius: 5px;padding: 20px;"
            class="panel panel-default"
          >
            <div class="panel-body">
              <section class="post-heading">
                <div class="row">
                  <div class="col-md-11">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="media-heading">
                          <em><%= post[i].title%></em>
                          <div style="color: grey; float: right;">
                            <em><%= post[i].userId%></em>
                            <input
                              type="hidden"
                              name="postId"
                              value="<%= post[i]._id%>"
                            />
                            <input
                              type="hidden"
                              name="userId"
                              value="<%= email %>"
                            />
                          </div>
                        </h4>
                        <hr />
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="post-body">
                <p><%= post[i].discription%></p>
              </section>
              <section class="post-footer">
                <hr />
                <div class="post-footer-option container">
                  <ul class="list-unstyled">
                    <%like.some((ele) => { if(ele.postId === post[i]._id &&
                    ele.userId === email && ele.status === 1 ) { flag = 1; }});
                    if(flag = 1) {%>
                    <button id="btnLike" type="submit">
                      <i
                        class="fa fa-thumbs-up"
                        style="font-size: 30px;color: blue;"
                      >
                      </i>
                      Like
                    </button>
                    <% flag = 0;} else {%>
                    <button id="btndisLike" type="submit">
                      <i
                        class="fa fa-thumbs-up"
                        style="font-size: 30px;color: gray;"
                      >
                      </i>
                      Like
                    </button>
                    <%}%>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </form>
        <br />
        <%} } else {%>
        <p><%= msg%></p>
        <%}%>
      </div>
    </div>
  </body>
</html>
